@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .picker .react-colorful__saturation {
    border-radius: 5px 5px 0 0;
  }

  .picker .react-colorful__hue {
    border-radius: 0 0 5px 5px;
  }

  .stripes {
    background-color: #000000;
    background-size: 2.3rem 2.3rem;
  }
}
